@use '../../sass/abstracts/' as *;

.Wrapper {
  @include flexbox(unset, unset);
  position: relative;
}

.Header_Cont {
  z-index: 200;
  position: fixed;
  bottom: 0;
  @include lap { 
    position: relative; 
    margin-left: $container_spacing_lap;
  };
}

.Main_Cont {
  overflow: clip;
  flex: 1;
  @include deskLg { @include flexbox(center, unset); }
}

.Width_Cont {
  @include lap { min-width: $mainContent_full_width_lap; }


  @include deskLg {
    width: $mainContent_max_width;
    min-width: $mainContent_max_width;
  }
}

.Overlay {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
}