@use '../../../sass/abstracts/' as *;

.Card_Cont {
  width: 100%;
  @include flexbox(center, center);

  @include lap {
    justify-content: unset;
    align-items: unset;
    @include gridCol(auto, 6);
  }

  &_Lists {
    @include gridCol(auto, 12);
  }
}