@use '../abstracts/' as *;

button {
  font-family: $helveticaNeue_medium;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: unset;
}

a {
  color: $primary_black;
  text-decoration: none;
}

.Container {
  &_X {
    padding: 0 $container_spacing_mob;
    @include tab { padding: 0 $container_spacing_tab; }
    @include lap { padding: 0 $container_spacing_lap; }

    &_Margin {
      padding: unset;
      margin: 0 $container_spacing_mob;
      @include tab { 
        padding: unset;
        margin: 0 $container_spacing_tab;
      }
      @include lap { 
        padding: unset;
        margin: 0 $container_spacing_lap;
      }
    }
  }

  &_Y {
    padding: $container_spacing_mob 0;
    @include tab { padding: $container_spacing_tab 0; }
    @include lap { padding: $container_spacing_lap 0; }

    &_Margin {
      padding: unset;
      margin: $container_spacing_mob 0;
      @include tab { 
        padding: unset;
        margin: $container_spacing_tab 0;
      }
      @include lap { 
        padding: unset;
        margin: $container_spacing_lap 0;
      }
    }
  }

  &_XY {
    padding: $container_spacing_mob;
    @include tab { padding: $container_spacing_tab; }
    @include lap { padding: $container_spacing_lap; }

    &_Margin {
      padding: unset;
      margin: $container_spacing_mob;
      @include tab { 
        padding: unset;
        margin: $container_spacing_tab;
      }
      @include lap { 
        padding: unset;
        margin: $container_spacing_lap;
      }
    }
  }
}

.Section {
  @include lap {
    padding: $section_spacing_lap 0;
  }
}


.Line {
  @include solidLine($border_primary_black);

  &_Spacing { 
    @include solidLine($border_primary_black);
    margin-left: 2rem; }
}