@use '../../../sass/abstracts/' as *;

.Wrapper {
  cursor: pointer;
  @include lap {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: $border_primary_grey;
    margin-bottom: 1rem;
    @include gridCol(auto, 3);
    @include flexbox(unset, unset);
  }

  &.Active { @include lap { border-bottom: 1px solid $primary_blue_dark; } }
}

.SmallText {
  @include lap {
    font-size: 0.7rem;
    color: $primary_grey;
  }

  &.Active { @include lap { color: $primary_blue_dark; }; }
}

.Container {
  @include flexbox(unset, flex-end);
  width: 100%;

  &_Home { @include lap { width: 100%; }; }
}

.Text_Cont, .Text_Cont_Home {
  @include lap {
    width: 100%;
    @include flexbox(space-between, center);
    gap: 0.5rem;
  }

  &_Home { @include lap { padding-top: 0.5rem; }; }
}

.Text {
  color: $primary_grey;

  &.Active { @include lap { color: $primary_blue_dark; }; }
}

.Bullet { color: $primary_blue_dark; }