@use '../../../sass/abstracts/' as *;

.Wrapper {
  cursor: pointer;
  text-transform: uppercase;
  @include flexbox(unset, unset);
  border-bottom: $border_primary_grey;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  @include tab {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    @include gridCol(auto, 6);
  }
  @include lap { @include gridCol(auto, 3); };

  &.Active { border-bottom: 1px solid $primary_blue_dark; }
}

.SmallText {
  @include lap {
    font-size: 0.7rem;
    color: $primary_grey;
  }

  &.Active { color: $primary_blue_dark; };
}

.Container {
  @include flexbox(unset, flex-end);
  width: 100%;

  &_Home { @include lap { width: 100%; }; }
}

.Text_Cont, .Text_Cont_Home {
  width: 100%;
  @include flexbox(space-between, center);
  @include lap { gap: 0.5rem; }

  &_Home { @include lap { padding-top: 0.5rem; }; }
}

.Text {
  color: $primary_grey;

  &.Active { color: $primary_blue_dark; };
}

.Bullet { color: $primary_blue_dark; }