// COLOURS //
$primary_white: #fffefa;
$primary_black: #292929;
$primary_grey: #6f6f6f;
$primary_grey_dark: #ababab;
$secondary_grey_dark: #e0e0e0;
$secondary_grey: #efefef;
$primary_blue: #0179ff;
$primary_blue_dark: #0179ff;
//$primary_blue: #5ea9fc;
//$primary_blue_dark: #3D71AB;
$secondary_blue: #cae3ff;

// BREAKPOINTS //
$breakpoints : (
  "mobile": 320px,
	"tablet": 600px,
	"laptop": 1024px,
	"desktop": 1200px,
  "desktop-lg": 1920px
);

// FONT FAMILY //
$helveticaNeue_light: 'HelveticaNeue-Light', sans-serif;
$helveticaNeue_roman: 'HelveticaNeue-Roman', sans-serif;
$helveticaNeue_medium: 'HelveticaNeue-Medium', sans-serif;
$helveticaNeue_heavy: 'HelveticaNeue-Heavy', sans-serif;

// FONT SIZES //
$fs_h2_mob: 1.5rem;
$fs_h2_tab: 2rem;
$fs_h2_lap: 2.8rem;

$fs_h3_mob: 1.25rem;
$fs_h3_tab: 1.5rem;
$fs_h3_lap: 1.75rem;

$fs_h4_mob: 1rem;
$fs_h4_tab: 1.1rem;
$fs_h4_lap: 1.25rem;

$fs_h5_mob: 1rem;
$fs_h5_tab: 1rem;
$fs_h5_lap: 1.2rem;

$fs_h6_mob: 0.875rem;
$fs_h6_tab: 1rem;
$fs_h6_lap: 1rem;

$fs_p_mob: 0.875rem;
$fs_p_tab: 1rem;
$fs_p_lap: 1.2rem;

// BORDER RADIUS //
$br_lap: 7px;

// SPACING //
$container_spacing_mob: 1rem;
$container_spacing_tab: 1.5rem;
$container_spacing_lap: 3rem;

$section_spacing_mob: 2.5rem;
$section_spacing_tab: 3.5rem;
$section_spacing_lap: 4.5rem;

$gap_tab: 1.5rem;
$gap_lap: 4rem;

$p-vp-mob: 2rem 1rem;
$p-vp-tab: 4rem 1.5rem;
$p-vp-lap: 2rem;

$m-ProjectCard-img-mob: 0.5rem;
$m-ProjectCard-img-tab: 1rem;

// DIMENSIONS //
$mainContent_max_width: 1400px;

$sidebar_height_mob: 50px;
$sidebar_open_height_mob: 70vh;
$sidebar_width_lap: 55px;
$sidebar_open_width_lap: 350px;

$scrollbar_width: 7px;	

$mainContent_full_width_lap: calc(100vw - ($sidebar_width_lap + ($container_spacing_lap * 2) + $container_spacing_lap + $scrollbar_width));
$stickyContainer_width_lap: calc($mainContent_full_width_lap * 0.3);
$stickyContainer_width_deskLg: 514px;

$graphic_mob: 200px; 

// SOLID BORDER //
$border_primary_black: 1px solid $primary_black;
$border_primary_white: 1px solid $primary_white;
$border_primary_grey: 1px solid $primary_grey;