@use '../../../sass/abstracts/' as *;

.Container {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: $border_primary_grey;
  margin-bottom: 1rem;

  &.Active { border-bottom: 1px solid $primary_blue_dark; }
}

.Title_Cont {
  @include lap {
    @include flexbox(space-between, center);
    gap: 0.5rem;
  }
}

.Work {
  font-size: 0.7rem;
  color: $primary_grey;

  &.Active { color: $primary_blue_dark; }
}

.Title {
  color: $primary_grey;

  @include lap { padding-top: 0.5rem; }
  &.Active { color: $primary_blue_dark; }
}

.Bullet {
  color: $primary_blue_dark;
}