@use '../../sass/abstracts/' as *;

.Filter_Cont {
  padding-top: 2.5rem;
  @include lap { padding-top: 3rem; }
}

.Cards_Cont {
  @include flexbox(center, center, column);

  @include lap {
    justify-content: unset;
    align-items: unset;
    @include grid(repeat(12, 1fr), $gap_lap);
    row-gap: 3rem;
  }
}

.Card_Cont {
  width: 100%;
  @include flexbox(center, center);

  @include lap {
    justify-content: unset;
    align-items: unset;
    @include gridCol(auto, 6);
  }
}