@use '../../sass/abstracts/' as *;

.Wrapper {
  @include lap {
    @include flexbox(unset, unset);
    gap: 3rem;
  }
}

.Sticky_Cont {
  @include lap {
    position: -webkit-sticky;
    position: sticky;
    width: $stickyContainer_width_lap;
    height: calc(100vh - ($section_spacing_lap * 2));
    top: 0;
  }
  @include deskLg {
    width: $stickyContainer_width_deskLg;
  }
}

.Scroll_Cont {
  @include lap { flex: 1; }
}