@use '../../../sass/abstracts/' as *;

.Wrapper {
  @include grid(repeat(12, 1fr), 3rem);
}

.Img_Cont {
  overflow: hidden;
  @include gridCol(auto, 4);

  img { width: 100%; }
}

.Content_Cont {
  @include gridCol(auto, 8);
  @include flexbox(space-between, flex-start, column);
}

.Title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.Info_Text {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.Info_Cta_Cont {
  margin-top: 1rem;
}

.Social_Cta_Cont {
  @include flexbox(flex-start, center);
}

.Copy_Cont {
  margin-top: 4.5rem;
  @include gridCol(auto, 12);
  @include flexbox(space-between, center);
}
