@use '../../../sass/abstracts/' as *;

.Wrapper {
  margin: 1rem 0;
  @include flexbox(unset, unset);
  gap: 0.5rem;
}

.Btn {
  color: $primary_grey;
  border: 1px solid $primary_grey;
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  @include flexbox(center, center);

  &.Active {
    color: $primary_blue_dark;
    border-color: $primary_blue_dark;
  }
}

.Btn_Text {
  text-transform: uppercase;
  margin-right: 0.3rem;
}