@use '../../../sass/abstracts/' as *;

.Wrapper {
  padding-bottom: 6rem;
  width: 100%;
  max-width: 700px;
  @include tab { padding-bottom: 9rem; }
  @include lap { 
    max-width: unset;
    padding-bottom: $section_spacing_lap;
  }
}

.Title {
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  @include tab { font-size: 1.5rem; }
}

.Discipline {
  font-size: 0.8rem;
  color: $primary_grey;
  @include tab { font-size: 1rem; };
}

.Type {
  font-weight: bold;
  text-transform: uppercase;
}

.Image_Cont {
  width: 100%;
  background: $secondary_grey;
  @include flexbox(center, center);
  margin: 1.5rem 0;
  overflow: hidden;
  @include lap { 
    height: unset; 
    max-height: 600px;
  }

  img { width: 80%; }
}

.Details_Cont {
  border-top: $border_primary_black;
  border-bottom: $border_primary_black;
  padding: 1rem 0;
  @include tab {
    @include flexbox(space-between, flex-start);
    gap: 1rem;
  }
}

.Detail_Wrapper {
  margin-bottom: 1.5rem;
  @include tab { margin-bottom: unset; }
}

.Detail_Cont {
  margin-bottom: 0.7rem;
}

.Detail_Title {
  text-transform: uppercase;
  font-family: $helveticaNeue_medium;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}