@use '../../../sass/abstracts/' as *;

.Wrapper {
  margin-bottom: 1.5rem;
  @include lap { margin-bottom: 2rem; };
}

.ChildLinks_Cont {
  margin-left: 0.3rem;
  margin-top: 0.7rem;
  @include lap { margin-top: 1rem; }
}

.ChildLink_Cont {
  margin-bottom: 0.7rem;
  @include lap { margin-bottom: 1rem; }
}