@use '../../../sass/abstracts/' as *;

.Container {
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  @include lap { font-size: 1.5rem;  };

  &:hover { color: $primary_blue_dark; }

  &:last-child { margin-right: unset; }
}

.Bottom {
  position: absolute;
  @include flexbox(flex-start, center);
}

.Top {
  @include flexbox(flex-start, center);
}

.Container:hover .Top,
.Container:hover .Bottom {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.Icon {
  margin-left: 0.3rem;
}