@use '../../../sass/abstracts/' as *;

.Container {
  display: inline-block;
}

.Text {
  width: fit-content;
  text-transform: uppercase;
  font-family: $helveticaNeue_medium;
  font-size: $fs_p_mob;
  padding: 0.5rem 0.7rem;
  border: $border_primary_black;

  @include tab { font-size: $fs_p_tab; }
}