@use '../../../sass/abstracts/' as *;

.Container {
  @include flexbox(center, center, column);
  border: $border_primary_black;
  overflow: hidden;
  position: relative;
  @include tab { display: inline-block; }

  &:hover {
    color: $primary_blue_dark;
    border-color: $primary_blue_dark;

    .Top {
      transform: translateY(-100%);
      transition: all 0.3s ease-in-out;
    }

    .Bottom {
      transform: translateY(0);
      transition: all 0.3s ease-in-out;
      @include tab { transform: translateY(-100%); }
    }
  }
}

.Top, .Bottom {
  @include flexbox(center, center);
  padding: 0.5rem 0.7rem;
}

.Bottom {
  position: absolute;
  transform: translateY(100%);
  @include tab { transform: unset; };
}

.Text {
  width: fit-content;
  text-transform: uppercase;
  font-family: $helveticaNeue_medium;
  font-size: $fs_p_mob;
  margin: 0 0.5rem;

  @include tab { font-size: $fs_p_tab; }
}