@use './sass/abstracts/' as *;
@use './sass/base/' as b;

body {
  background-color: $primary-white;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

// CUSTOM SCROLLBAR //
::-webkit-scrollbar {
  width: 7px;
  background: $primary-white;
}

::-webkit-scrollbar-track {
  background: $primary-white;
}

::-webkit-scrollbar-thumb {
  background: $primary_blue;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-blue_dark;
}