@use '../../sass/abstracts/' as *;

.Wrapper {
  @include lap {
    @include grid(repeat(12, 1fr), 3rem);
  }
}

.Text_Cont {
  text-align: center;
  @include lap { 
    text-align: unset; 
    @include gridCol(auto, 8);
  }

  img {
    width: 50%;
    max-width: 300px;
    @include lap {
      max-width: unset;
      width: 400px;
    }
  }
}

.Text {
  padding-top: 1rem;
  padding-bottom: $section_spacing_mob;
  @include tab { 
    padding-top: unset;
    padding-bottom: $section_spacing_tab; 
  }
  @include lap { 
    padding-top: unset; 
    padding-bottom: unset;
  };

  h2 { 
    padding-bottom: 1rem; 
    @include tab { padding-bottom: 1.5rem; };
  };

  p {
    @include lap {
      font-size: 1.4rem;
    }
  }
}

.Text_Highlight {
  font-family: $helveticaNeue_medium;
  font-style: oblique;
}

.Graphic_Cont {
  width: 100%;
  @include flexbox(center, center);
  @include lap { 
    @include gridCol(auto, 4);
  };
}

.Graphic {
  width: 200px;
  height: 200px;
  @include lap {
    width: $stickyContainer_width_lap;
    height: unset;
  }
}

.Divider_Cont {
  @include tab { @include flexbox(flex-start, center); }

  h3 {
    white-space: nowrap;
    text-align: center;
    padding-top: $section_spacing_mob;
    @include tab { 
      text-align: unset; 
      padding-top: unset;
    }
  }
}