@use '../../sass/abstracts/' as *;

.Wrapper {
  @include lap {
    @include flexbox(space-between, flex-start);
    gap: 4rem;
  }
}

.Text_Cont {
  text-align: center;
  @include lap { text-align: unset; }

  img {
    width: 50%;
    max-width: 300px;
    @include lap {
      max-width: unset;
      width: 400px;
    }
  }
}

.Text {
  padding-top: 1rem;
  padding-bottom: $section_spacing_mob;
  @include tab { 
    padding-top: unset;
    padding-bottom: $section_spacing_tab; 
  }
  @include lap { 
    padding-top: unset; 
    padding-bottom: unset;
  };

  h2 { 
    padding-bottom: 1rem; 
    @include tab { padding-bottom: 1.5rem; };
  };
}

.Graphic_Cont {
  width: 100%;
  @include flexbox(center, center);
  @include lap { width: fit-content; };
}

.Graphic {
  border: $border_primary_black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  @include lap {
    min-width: 200px;
    min-height: 200px;
  }
}

.Divider_Cont {
  @include tab { @include flexbox(flex-start, center); }

  h3 {
    white-space: nowrap;
    text-align: center;
    padding-top: $section_spacing_mob;
    @include tab { 
      text-align: unset; 
      padding-top: unset;
    }
  }
}